@use 'variables';
@use 'mixins';

body{
    margin: 0;
    background-color: variables.$background-color;
    font-size: 1rem;
    font-family: variables.$primary-font;
}

h1{
    color: variables.$little-things;
    font-family: variables.$small-font;
    font-size: 1.2rem;
}

h2{
    @include mixins.h2-style;
    margin-top: 0;
    padding-top: 2rem;
}

h3{
    @include mixins.h3-style;
}

p{
    line-height: 1.5;
}

ul{
    list-style: none;
    gap: 1rem;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    @include mixins.hover-black-bg;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

header{
    section{
        margin-bottom:2rem;
    }
    margin-bottom: 5rem;
}


.color-from-icon-html{background-color: variables.$color-html;}
.color-from-icon-css{background-color: variables.$color-css;}
.color-from-icon-js{background-color: variables.$color-js;}
.color-from-icon-node{background-color: variables.$color-node;}
.color-from-icon-api{background-color: variables.$color-api;}
.color-from-icon-pairprogramming{background-color: variables.$color-pair-programming;}
.color-from-icon-github{ background-color: variables.$color-github;}
.color-from-icon-ts{background-color: variables.$color-ts;}
.color-from-icon-sass{background-color: variables.$color-sass;}
.color-from-icon-prettier{background-color: variables.$color-prettier;}
.color-from-icon-eslint{background-color: variables.$color-eslint;}
.color-from-icon-vite{background-color: variables.$color-vite;}
.color-from-icon-vue{background-color: variables.$color-vue;}
.color-from-icon-pnpm{background-color: variables.$color-pnpm;}
.color-from-icon-npm{background-color: variables.$color-npm;}
.color-from-icon-express{background-color: variables.$color-express;}
.color-from-icon-mondodb{background-color: variables.$color-mongodb;}


.colorful-list li {
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: variables.$white-color;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nav-bar{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; // för smooth swipe på iOS
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge
    padding: 1rem 0;
    position: fixed;
    background-color: #24564ad8;
    width: 100%;
    top: 0;
    z-index: 2;


    .nav-bar::-webkit-scrollbar{
        display: none;

    }

    .nav-bar-ul{
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0 1rem;
        margin-bottom: 1rem;
        white-space: nowrap;
        justify-content: space-evenly;
        
        li{
            
            a {
                display: inline-block;
                padding: 0.5rem 1.25rem;
                border-radius: 2rem;
                text-decoration: none;
                color: variables.$color-block-nav;
                transition: background-color 0.3s;
                font-family: variables.$small-font;
                font-size: 1.5rem;
                text-shadow: 
                0 0 1px variables.$background-color,
                0 0 2px variables.$background-color,
                0 0 4px variables.$background-color;
                
            }
        }


    }
}

.hero{ 
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        z-index: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .hero-img{
    
    -webkit-mask-image: 
    linear-gradient(to bottom, transparent 0%, black 20%),
    linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: 
    linear-gradient(to bottom, transparent 0%, black 20%),
    linear-gradient(to bottom, black 80%, transparent 100%);

    -webkit-mask-composite: destination-in; /* Safari kräver "destination-in" */
    mask-composite: intersect; /* Andra webbläsare */

    mask-repeat: no-repeat;
    mask-size: cover;

    }
    
}

.hero-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero-background{
        background-color: white;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            .profile-picture{
                border-radius: 50%;
                width: 200px;
                height: 200px;
                border: solid 3px #24564a33;
            }

            h1{
                font-size: 2rem;
                margin-bottom: 0;
            }

            h4{
                margin: 0;
            }

            .hero-profile-text{
                max-width: 100ch;
            }
    
            nav{
                height: 100%;
                width: 100%;
                
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    padding: 0;

                    a{
                        display: flex;
                    }
                    
                }
            }
    } 

}

.tech-container{
    background-color: variables.$color-block-nav;
    padding: 1rem;

    h2{
        color: #24564a;
    }

    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

     }
}

.project-section{

    background-color: white;
    padding: 1rem;
    margin-bottom: 0;

    .project-wrapper{
        margin-bottom: 8rem;

        img{
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: auto;
            aspect-ratio: 16 / 10;
        }
    
        .project-list{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
        }

        .project-links{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-top: 1rem;
            
            .project-link{
                background-color: variables.$color-block-nav;
                padding: 0;
                display: block;
                width: fit-content;
                text-align: center;
                padding: 0.5rem;
                border-radius: 1.2rem;
                text-transform: uppercase;
                color: variables.$background-color;
                font-family: variables.$small-font;
                box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
                position: relative;
                top: 0;
                
            }
        }
    }


}

.skills-container{
    background-color: variables.$color-block-nav;
    padding-bottom: 4rem;

    h2{
        color: variables.$background-color;
    }
    
    .skills-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .skills-h3{
            background-color: variables.$background-color;
            padding: 0.3rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            color: variables.$color-block-nav;
        }

        
    }
}

footer{

    height: 100%;
    width: 100%;
    background-color: variables.$white-color;
    padding-bottom: 1rem;

    .footer-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4{
            margin-top: 0;
        }

        h3{
            margin-bottom: 0;
        }

        .profile-picture{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            border: solid 3px #24564a33;
        }

        .contact-container{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            align-items: center;
        }

        .contact-social-media-container{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            // padding: 0;
            gap: 1rem;
        }

    }

}