@use 'variables';
@use 'mixins';

@media (min-width: 1280px) {

    h2{
        margin-bottom: 4rem;
    }

    .nav-bar {
        overflow: visible;
     
    
      ul {
        white-space: normal;
        flex-wrap: wrap;
        
      }

      .nav-link{
        font-size: 2rem;
      }

    }

    .hero-content{
        
        .hero-background{
            
            margin-left: 10rem;
            margin-right: 10rem;
            }
            

    }

    .project-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
            
           
        

    }

}