@use 'variables';

@mixin h2-style {
    font-size: 3rem;
    text-align: center;
    color: variables.$background-color;
    font-family: variables.$big-font;;
    font-weight: 400;
    font-style: normal;

    
    
    // padding-top: 1rem;

 }

 @mixin h3-style {
    font-size: 2rem;
    color: variables.$background-color;
    font-family: variables.$small-font;
    font-weight: 400;
    font-style: normal;
    // padding-top: 1rem;

 }

 @mixin hover-black-bg{
   transition: all 0.3s ease-in-out;

   &:hover {
     background-color: rgba(0, 0, 0, 0.349);
     color: white;
     transform: scale(1.05);
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
   }
 }
 