@use 'variables';

@mixin h2-style {
    font-size: 3rem;
    text-align: center;
    color: variables.$fourth-color;
    // padding-top: 1rem;

 }

 @mixin h3-style {
    font-size: 2rem;
    color: black;
    // padding-top: 1rem;

 }