$color-block-nav: #DBDEC2;
$background-color:#24564a;
$little-things: #F08550;
$white-color: white;  

$color-html: #E34F26;
$color-css: #1572B6;
$color-flexbox: #2965F1;
$color-js: #F7DF1E;
$color-node: #339933;
$color-api: #49CC90;
$color-pair-programming: #FF6F61;
$color-github: #181717;
$color-ts: #3178C6;
$color-sass: #CC6699;
$color-prettier: #F7B93E;
$color-eslint: #4B32C3;
$color-vite: #646CFF;
$color-vue: #42B883;
$color-pnpm: #F69220;
$color-npm: #CB3837;

$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$small-font: "Calistoga", serif;
$big-font: "Cherry Bomb One", system-ui;




